<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="andlima.hafizhfy.listnewscomposemvvm">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".NewsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ListNewsComposeMVVM"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".StaffActivity"
            android:exported="true"
            android:label="@string/title_activity_staff"
            android:theme="@style/Theme.ListNewsComposeMVVM.NoActionBar" />
        <activity
            android:name=".DetailActivity"
            android:exported="true"
            android:label="@string/title_activity_detail"
            android:theme="@style/Theme.ListNewsComposeMVVM.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ListNewsComposeMVVM.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>